.app {
  height: 100%;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app__inner-wrapper {
  width: 100%;
  height: calc(100% - 30px);
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

}