@import '../base/variables';
@import '../base/buttons';

.project {
  &__inner-wrapper {
    display: block;
    margin: 12px;
    font-family: arial, sans-serif;
  //  border-bottom: 1px solid $boulder-grey;
  }

  &__image-wrapper {
    display: inline-block;

    @media (min-width: $md) {
      width: 60%;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    border: $border-standard;
    margin-bottom: 10px;
  }

  &__info-wrapper {
    display: inline-block;
    width: 35%;
    margin-left: 20px;
    vertical-align: top;
  }

  &__link {
    @extend %link-button;
  }
}