@import '../base/colours';
@import '../base/borders';

.project {
  &__inner-wrapper {
    display: block;
    margin: 12px;
    font-family: arial, sans-serif;
    border-bottom: 1px solid $dusty-grey;
  }

  &__image-wrapper {
    display: inline-block;
    width: 40%;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__info-wrapper {
    display: inline-block;
    width: 60%;
  }

  &__button-wrapper {
    border-top: 1px solid $mercury-grey;
  }
}