@import '../base/buttons';
@import '../base/colours';
@import '../base/typography';

.startbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $submarine-grey;
  font-family: "px_sans_nouveaux", Arial, sans-serif;
  font-size: 0.9rem;
  height: 30px;
  padding: 2px;

  &__button {
    @extend %button;
    height: 26px;
    padding: 0 2px;
    font-family: "px_sans_nouveaux", Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 12px;

    &--active {
      @include border($thatch-green, $santas-grey);
    }
  }

  &__button-icon {
    margin: 3px 0;
    vertical-align: bottom;
  }

  &__button-text {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
  }
}