@import '../base/block';

.titlebar {
  @extend %block;
  margin-left: 3px;
  width: 130px;
  height: 25px;
  border: 2px solid #000;

  &__icon {
    margin-top: -2px;
  }

  &__text {
    vertical-align: top;
  }
}
