@import '../base/colours';
@import '../base/borders';


$total: 10;
$topOffset: 35px;
$leftOffset: 35px;

@for $i from 1 through $total {
  .window--popup:nth-child(#{$i}) {
    top: $topOffset;
  }

  .window:nth-child(#{$i}) {
    @media (min-width: 540px) {
      top: $topOffset;
      left: $leftOffset;
    }
  }
  $topOffset: $topOffset + 25px;
  $leftOffset: $leftOffset + 10px;
}

.window {
  @include border($santas-grey, $thatch-green);
  position: absolute;
  background-color: $submarine-grey;
  padding: 2px;
  width: 100%;
  border: 2px solid #000;

  &--project {
    height: calc(100% - 30px);
    top: 0;
    left: 0;
  }

  @media (min-width: 540px) {
    width: 450px;
    height: auto;
  }

  &__header {
    position: relative;
    display: block;
  }

  &__title {
    display: block;
    background-color: $navy-blue;
    color: $white;
    padding: 0 2px;
    letter-spacing: 0.5px;
    line-height: 20px;
    height: 18px;
    border: 2px solid #000;
    font-weight: 700;
  }
}