@import '../base/colours';
@import '../base/borders';

.folder {
  display: inline-block;
  text-align: center;
  width: 60px;
  margin: 10px;
  cursor: pointer;

  &__icon {
  @include border($santas-grey, $thatch-green);
  position: relative;
  display: block;
  background-color: $folder-yellow;
  width: 50px;
  height: 35px;
  margin: 0 auto;
  border-radius: 3px;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      right: 0;
      width: 28%;
      border-bottom: 5px solid $folder-yellow;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }

  &__title {
    display: inline-block;
    margin: 5px 0;
    color: white;
    font-family: "px_sans_nouveaux", Arial, sans-serif;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
   // font-family: arial;
  }
}