@import '../base/colours';
@import '../base/borders';

.menu {
  @include border($santas-grey, $thatch-green);
  position: absolute;
  left: 0;
  bottom: 30px;
  background-color: $submarine-grey;
  min-width: 180px;

  &--submenu {
    left: 165px;
    top: 0;
    width: 160px;
    height: 38px;
  }
}
