@import '../base/colours';
@import '../base/borders';
@import '../base/buttons';

.popup {
  @include border($santas-grey, $thatch-green);
  position: absolute;
  left: 10%;
  background-color: $submarine-grey;
  padding: 2px;
  width: 80%;

  @media (min-width: 540px) {
    width: 450px;
  }

  &__icon {
    vertical-align: top;
  }

  &__outer-wrapper {
    display: block;
    margin: 15px;
  }

  &__inner-wrapper {
    display: inline-block;
    margin: 0 20px;
  }

  &__header {
    position: relative;
    display: block;
    background-color: $navy-blue;
    color: white;
    padding: 0 2px;
    letter-spacing: 0.5px;
  }

  &__button {
    @extend %button;
    padding: 0 2px;
    margin-top: 15px;
  }
}
