@import '../base/colours';
@import '../base/borders';

.startbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $submarine-grey;
  height: 30px;
  padding: 2px;

  &__button {
    @include border($santas-grey, $thatch-green);
    height: 26px;
    padding: 0 2px;
    background-color: $submarine-grey;

    &:hover,
    &:focus,
    &:active,
    &--active {
      @include border($thatch-green, $santas-grey);
    }
  }

  &__button-icon {
    margin: 4px 0;
    vertical-align: bottom;
  }

  &__button-text {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
  }
}