@import '../base/buttons';
@import '../base/colours';

.startbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $submarine-grey;
  height: 30px;
  padding: 2px;

  &__button {
    @extend %button;
    height: 26px;
    padding: 0 2px;
  }

  &__button-icon {
    margin: 4px 0;
    vertical-align: bottom;
  }

  &__button-text {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
  }
}