@import '../base/colours';
@import '../base/borders';

.titlebar {
  @include border($thatch-green, $santas-grey);
  display: inline-block;
  height: 26px;
  margin: 0 5px;
  padding: 0 5px;
  line-height: 30px;
  width: 130px;
  vertical-align: top;
}
