@import '../base/colours';
@import '../base/borders';

.window {
  @include border($santas-grey, $thatch-green);
  position: absolute;
  left: 35px;
  top: 50px;
  background-color: $submarine-grey;
  padding: 2px;
  width: 80%;

  @media (min-width: 540px) {
    width: 450px;
    left: 55px;
  }

  &__header {
    position: relative;
    display: block;
  }

  &__title {
    display: block;
    background-color: $navy-blue;
    color: white;
    padding: 0 2px;
    letter-spacing: 0.5px;
  }
}