@import '../base/colours';
@import '../base/borders';


$total: 10;
$topOffset: 35px;
$leftOffset: 35px;

@for $i from 1 through $total {
  .window:nth-child(#{$i}) {
    top: $topOffset;
    left: $leftOffset;
  }
  $topOffset: $topOffset + 25px;
  $leftOffset: $leftOffset + 10px;
}

.window {
  @include border($santas-grey, $thatch-green);
  position: absolute;
  background-color: $submarine-grey;
  padding: 2px;
  width: 80%;

  @media (min-width: 540px) {
    width: 450px;
  }

  // &--selected {
  //   z-index: 1000;
  // }

  &__header {
    position: relative;
    display: block;
  }

  &__title {
    display: block;
    background-color: $navy-blue;
    color: white;
    padding: 0 2px;
    letter-spacing: 0.5px;
    line-height: 20px;
    height: 18px;
  }
}