$aquamarine: #5EA8A8;
$folder-yellow: #E0E348;
$navy-blue: #000086;
$black: #000;
$thatch-green: #4F4C1E;

/* greys */
$submarine-grey: #C0C7C8;
$mercury-grey: #E7E7E7;
$dusty-grey: #949494;
$santas-grey: #9B9BA4;
