@font-face {
  font-family: 'px_sans_nouveaux';
  src: url('../fonts/px_sans_nouveaux.eot') format('embedded-opentype');
  src: url('../fonts/px_sans_nouveaux.woff2') format('woff2'),
       url('../fonts/px_sans_nouveaux.woff') format('woff'),
       url('../fonts/px_sans_nouveaux.ttf') format('truetype'),
       url('../fonts/px_sans_nouveaux.svg#px_sans_nouveaux') format('svg'),
       url('../fonts/px_sans_nouveaux.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}