@import './base/colours';
@import './base/borders';

.closebutton {
  @include border($santas-grey, $thatch-green);
  position: absolute;
  right: 4px;
  top: 3px;
  font-size: 10px;
  bottom: 3px;
  font-family: arial;
  font-weight: bold;
  background-color: $submarine-grey;
  line-height: 0.5;
  }