@import './base/colours';
@import './base/borders';

.folder {
  display: inline-block;
  text-align: center;

  &__icon {
  @include border($santas-grey, $thatch-green);
  position: relative;
  display: block;
  background-color: $folder-yellow;
  width: 50px;
  height: 35px;
  margin: 0 auto;
  border-radius: 3px;

    &::before {
      content: '';
      position: absolute;
      top: -6px;
      left: 0;
      right: 0;
      width: 28%;
      border-bottom: 5px solid $folder-yellow;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }

  &__title {
    color: white;
    font-family: arial;
  }
}