.menu {
  position: absolute;
  left: 0;
  bottom: 30px;
  background-color: #C0C7C8;
  border-top: 2px solid #9B9BA4;
  border-right: 2px solid #4F4C1E;
  border-bottom: 2px solid #4F4C1E;
  border-left: 2px solid #9B9BA4;
}

.menu--submenu {
  position: absolute;
  left: 120px;
  top: 0;
  width: 160px;
  height: 100%;
  background-color: #C0C7C8;
  border-top: 2px solid #9B9BA4;
  border-right: 2px solid #4F4C1E;
  border-bottom: 2px solid #4F4C1E;
  border-left: 2px solid #9B9BA4;
}


.menu-item {
  position: relative;
  display: block;
  line-height: 50px;
  margin: 5px;
}

.menu-item--submneu {
  margin: 2px;
}

.menu-item:hover {
  background-color: #000086;
  color: white;
}

.menu-item__title {
  position: relative;
}

.menu-item__title::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 4px;
  height: 1px;
  width: 8px;
  background-color: black;
}

.menu-item__icon {
  vertical-align: middle;
}