@import './base/colours';
@import './base/borders';

.menu {
  @include border($santas-grey, $thatch-green);
  position: absolute;
  left: 0;
  bottom: 30px;
  background-color: $submarine-grey;

  &--submenu {
    left: 120px;
    top: 0;
    width: 160px;
    height: 100%;
  }
}
