.popup {
  position: absolute;
  left: 10%;
  background-color: #C0C7C8;
  padding: 2px;
  width: 80%;
  border-top: 2px solid #9B9BA4;
  border-right: 2px solid #4F4C1E;
  border-bottom: 2px solid #4F4C1E;
  border-left: 2px solid #9B9BA4;
}

/* use postcss nesting ?? */
@media (min-width: 540px) {
  .popup {
    width: 450px;
  }
}

.popup__inner-wrapper {
  display: block;
  margin: 12px;
  border-bottom: 1px solid #949494;
}

.popup__image-wrapper {
  display: inline-block;
  width: 40%;
  background-color: olive;
}

.popup__image {
  display: block;
  width: 100%;
  height: auto;
}

.popup__info-wrapper {
  display: inline-block;
  width: 60%;
}

.popup__title {
  display: block;
  background-color: #000086;
  color: white;
  padding: 0 2px;
  letter-spacing: 0.5px;
}

.popup__button-wrapper {
  border-top: 1px solid #E7E7E7;
}