.popup {
  position: absolute;
  left: 10%;
  background-color: #C0C7C8;
  padding: 2px;
  width: 80%;
  border-top: 2px solid #9B9BA4;
  border-right: 2px solid #4F4C1E;
  border-bottom: 2px solid #4F4C1E;
  border-left: 2px solid #9B9BA4;
}

/* use postcss nesting ?? */
@media (min-width: 540px) {
  .popup {
    width: 450px;
  }
}

.popup__icon {
  vertical-align: top;
}

.popup__outer-wrapper {
  display: block;
  margin: 15px;
}

.popup__inner-wrapper {
  display: inline-block;
  margin: 0 20px;
}

.popup__header {
  position: relative;
  display: block;
  background-color: #000086;
  color: white;
  padding: 0 2px;
  letter-spacing: 0.5px;
}

.popup__button {
  padding: 0 2px;
  border-top: 2px solid #9B9BA4;
  border-right: 2px solid #4F4C1E;
  border-bottom: 2px solid #4F4C1E;
  border-left: 2px solid #9B9BA4;
  margin-top: 15px;
}