.startbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #C0C7C8;
  height: 30px;
  padding: 2px;
}

.startbar__button {
  height: 26px;
  padding: 0 2px;
  border-top: 2px solid #9B9BA4;
  border-right: 2px solid #4F4C1E;
  border-bottom: 2px solid #4F4C1E;
  border-left: 2px solid #9B9BA4;
}

.startbar__button:hover, .startbar__button:focus, .startbar__button:active, .startbar__button--active {
  border-top: 2px solid #4F4C1E;
  border-right: 2px solid #9B9BA4;
  border-bottom: 2px solid #9B9BA4;
  border-left: 2px solid #4F4C1E;
}

.startbar__button-icon {
  margin: 4px 0;
  vertical-align: bottom;
}

.startbar__button-text {
  margin: 4px 0;
}