.titlebar {
  display: inline-block;
  height: 26px;
  padding: 0 2px;
  border-top: 2px solid #4F4C1E;
  border-right: 2px solid #9B9BA4;
  border-bottom: 2px solid #9B9BA4;
  border-left: 2px solid #4F4C1E;
}
