@import './variables';

%button {
  //@include border($santas-grey, $thatch-green);
  border: $border-standard;
  background-color: $submarine-grey;

  &:hover,
  &:focus,
  &:active {
    border: $border-active;
    //@include border($thatch-green, $santas-grey);
  }
}