/* ===== Colours ===== */
$aquamarine: #5EA8A8;
$folder-yellow: #E0E348;
$navy-blue: #000086;
$thatch-green: #4F4C1E;

$black: #000;
$white: #fff;

$submarine-grey: #C0C7C8;
$boulder-grey: #7A7A7A;


/* ===== Borders ===== */
$border-standard: 2px solid $black;
$border-active: 2px solid $boulder-grey;


/* ===== Breakpoints ===== */
$md: 540px;

